body, html, #app{
    height: 100vh;
}

body{
    background: #e9ecef;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #343a40;
}

.logo{
    width: 100px;
}

.section-title{
    color: #dc3545; 
    text-align: center;
    font-size: 2.5rem;
    margin: 1.5rem auto
}

.row.cardrow{
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.message-emphasis{
    color: #dc3545; 
}

.details-top-section{
    border: 2px solid #dc3545;
    border-radius: 1rem;
    padding: 1rem;
}

.details-table .col:not(:last-of-type){
    border-right: 1px solid #dc3545;
}

.navbar.navbar-light.bg-light{
    background: #e9ecef;
}