body, html, #app{
    height: 100vh;
}


.logo{
    width: 100px;
}

.section-title{
    color: #dc3545; 
}

.row.cardrow{
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.message-emphasis{
    color: #dc3545; 
}

.details-top-section{
    border: 1px solid #dc3545;
    padding: 1rem;
    .fa-jedi-order{
        font-size: 200px;
        color: #dc3545;
    }
}

.details-table .col:not(:last-of-type){
    border-right: 1px solid #dc3545;
}