html{
    scrollbar-color:#dc3545 #f8f9fa;
    scrollbar-width: auto;
}

body{
    background: url("https://infinitediaries.net/wp-content/uploads/2016/01/Star-Wars-Death-Star.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #f8f9fa;
}

.navbar, .page-footer{
    background: #000000;
}

.card-title{
    color: #343a40;
}

.logo{
    width: 150px;
    transform: perspective(100px) rotateX(20deg);
}

.section-title{
    color: #dc3545; 
    text-align: center;
    font-size: 2.5rem;
    margin: 1.5rem auto;
}

.row.cardrow{
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.topandtable-container{
    border: 2px solid #dc3545;
    border-radius: 1rem;
}

.details-table .column{
    border: 0.5px solid rgba(248, 249, 250, 0.3);
    border-radius: 0.25rem;
}

.section-title, .name, .details-table-header{
    text-transform: uppercase;
    color: #dc3545;
    font-weight: 600;
}

.dropdown-menu{
      right: 0;
      left: auto;
      padding: 0.4rem;
      .dropdown-item:hover{
        background: #f8f9fa;  
        color: #dc3545;
      }
}

.dropdown-item, .delete-favorite-icon{
    cursor: pointer;
}

.page-footer{
    padding: 1rem;
    .page-footer-message{
        color: #f8f9fa;
    }
        .message-emphasis{
            color: #dc3545; 
            font-weight: 700;   
        }
}

@media screen and (min-width: 361px){
    .page-footer-message{
      font-size: 2rem;
    }
}
  
/* If the screen size is 360px wide or less*/
@media screen and (max-width: 360px) {
    .page-footer-message{
      font-size: 1.25rem;
    }
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

  /* Track */
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner{
    background: #f8f9fa;
    border-radius: 1rem;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #dc3545;
    border-radius: 1rem; 
  }